{% extends "Base.html" %}

{% block hero_foot %}

	<div class="hero-foot">
    		<nav class="tabs is-boxed is-fullwidth">
      			<div class="container">
        			<ul>
          			<li><a href="/">Home</a></li>
          			<li class="is-active"><a href="/Prediction">Prediction</a></li>
          			<li><a href="/Training">Training</a></li>
        			</ul>
      			</div>
    		</nav>
  	</div>

{% endblock %}

{% block content %}

	<h3 align="center">COMPLETE!</h3>

	<br>

	<p align="center">Completed in {{ ActualTime }} seconds</p>

	<br>

    {% include 'action_item.html' %}

{% endblock content %}

