{% extends "Base.html" %}

{% block content %}

	<h3 align="center">COMPLETE!</h3>

	<br>

    <section class="section">
        <div class="container">
            <h1 class="title">Click Count</h1>

            <p><a href="/dl_click"><button type="button">Download Plot as HTML</button></a></p>
            <p><a href="/dl_click_svg"><button type="button">Download Plot as SVG</button></a></p>


            {% include 'bbc_data_action_item.html' %}

         </div>
    </section>

    <br>

    <section class="section">
        <div class="container">
                <h1 class="title">Click Density</h1>

                <p style="margin-top: 8px"><a href="/dl_click_density"><button type="button">Download Plot as HTML</button></a></p>

    {% include 'bbc_data_click_density.html' %}

        </div>
    </section>

{% endblock content %}

