{% extends "base.html" %}

{#
    Template for the index. Users can upload their files and run them.
#}

{% block content %}

    <section class="section" style="align: center">
        <div class="container">
            <h4 class="title"> Your data should be - </h4>
                <p>
                    <b>Comma separated values</b> in a CSV file.

                    <br>
                    <br>
                    Have the following columns -
                    <br><br>

                        <ul>  <b>participant_id</b> - that refers to the individual users. </ul>
                        <ul>  <b>timestamp</b> - point in time when the event occurred, in datetime format eg (2017-08-17 19:41:09) </ul>
                        <ul>  <b>item</b> - button participant has clicked on e.g. play button </ul>
                        <ul>  <b>action</b> - the result of clicking button e.g. play, pause etc. </ul>

                    <br>

                    <ul>Already uploaded file(s): <b>{{ value }}</b> </ul>


                </p>

            <br>
            <br>

		    <form method="POST" enctype=multipart/form-data>
      			<p><input type=file name=file>
         		<input type=submit value='Run Analysis'>
    		</form>

            <br>


         </div>
    </section>
	

{% endblock %}