{% extends "base.html" %}

{#
    Template for page that will display all the plots and stats data.
    Each section holds a different plot which has been generated
    by the scripts and placed in the template folder to be rendered
    here with a simple 'include' taken from the templates folder.
#}



{% block content %}

	<h3 align="center">COMPLETE!</h3>

	<br>

    <section class="section">
        <div class="container">
            <h1 class="title">Click Type</h1>

            <p><a href="/dl_click"><button type="button">Download Plot as HTML</button></a></p>

            {% include 'bbc_data_action_item.html' %}

         </div>
    </section>

    <br>

    <section class="section">
        <div class="container">
                <h1 class="title">Click Density</h1>

                <p style="margin-top: 8px"><a href="/dl_click_density"><button type="button">Download Plot as HTML</button></a></p>

    {% include 'bbc_data_click_density.html' %}

        </div>
    </section>

        <section class="section">
        <div class="container">
            <h1 class="title">Click Count</h1>

            <p><a href="/dl_click_count_html"><button type="button">Download as HTML</button></a></p>

            {% include 'bbc_data_histogram_click_count.html' %}

        </div>
    </section>

    <br>

     <section class="section">
        <div class="container">
            <h1 class="title">Clicks Per Minute</h1>

            <p><a href="/dl_clicks_per_minute_html"><button type="button">Download as HTML</button></a></p>

            {% include 'bbc_data_histogram_clicks_per_minute.html' %}

            <p align="center" style="margin-bottom: 10px"><a href="/dl_clicks_per_minute_html"><button type="button">Download as HTML</button></a></p>

       </div>
    </section>

    <br>

    <section class="section">
        <div class="container">
            <h1 class="title">Time Taken (in mins)</h1>

            <p><a href="/dl_time_taken_html"><button type="button">Download as HTML</button></a></p>

            {% include 'bbc_data_histogram_time_taken_mins.html' %}

        </div>
    </section>

    <br>

    <section class="section">
        <div class="container">
            <h1 class="title">Table of Stats</h1>
    <br>

    <p><a href="/dl_stats_csv"><button type="button">Download Stats as CSV</button></a></p>

    <br>
    <br>


    {% include 'bbc_data_stats.html' %}

    <br>

       </div>
    </section>


{% endblock content %}

